* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
  color: #f5f1e3;
  background-color: #050505;
  letter-spacing: 0.02rem;
  min-height: 100vh;
}

h1 {
  font-size: 2.1em;
}

p {
  padding: 5px 0;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  background-color: #1b9aaa;
  text-align: center;
  padding: 20px;
  margin-bottom: 100px;
}

.github-icon {
  font-size: 3rem;
}

section {
  padding: 20px 0;
}

.repo-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  width: 90%;
  margin: 0 auto;
}

.view-more {
  text-align: center;
  font-size: 1rem;
  color: #1b9aaa;
  cursor: pointer;
  margin: 50px 0 60px;
}

.view-more:hover {
  text-decoration: underline;
}

.repo-card,
.repodetail-card {
  border: 1px solid #1b9aaa;
  padding: 13px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #88a1a4;
}

a:hover {
  text-decoration: underline;
}
label {
  margin-bottom: 16px;
  padding: 16px;
}
input {
  padding: 8px;
  margin: 4px;
  font-size: larger;
}
.create {
  background-color: rgb(60, 145, 60);
  padding: 12px;
  outline: none;
  border: none;
  margin-left: 8rem;
  text-align: center;
}
.repo-name {
  color: #75dbc5;
  font-size: 2rem;
  word-break: break-word;
  text-transform: uppercase;
}

#repodetail {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.rrepodetail {
  width: 90%;
  max-width: 600px;
  margin-bottom: 10px;
}

#repodetail p {
  padding: 15px 0;
  word-break: break-all;
  color: rgb(230, 230, 230);
}
.edit {
  margin-right: 12px;
  padding: 2px 8px;
}
.delete {
  margin-right: 12px;
  padding: 2px 8px;
}

.repo-mini-details {
  gap: 10px 50px;
  margin: 0 0 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.repo-mini-details p {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.icons {
  color: #1b9aaa;
}

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 50h;
}

.error-page h1 {
  font-size: 3rem;
  color: #1b9aaa;
  margin-bottom: 20px;
}

.error-status {
  font-size: 5rem;
}

@media screen and (max-width: 380px) {
  .repo-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  h1 {
    font-size: 1.5rem;
  }

  .github-icon {
    font-size: 2rem;
  }
}
.box {
  color: rgb(0, 225, 255);
}
.button1 {
  padding: 1rem;
  background-color: grey;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: xx-large;
  margin-bottom: 2rem;
}
.new-repo {
  border: 1px solid #1b9aaa;
  padding: 13px;
  border-radius: 5px;
}
.box-name {
  margin-left: 4rem;
  padding: 1rem;
}
